---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openldap-pvc
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 32Mi
  storageClassName: {{ WAIOPS_STORAGE_CLASS_FILE }}
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openldap-slapd-pvc
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 32Mi
  storageClassName: {{ WAIOPS_STORAGE_CLASS_FILE }}
  volumeMode: Filesystem
---
# Source: openldap/templates/openldap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: openldap-seedusers
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
data:
  seedusers.ldif: |    
    # acme
    dn: ou=Groups,dc=acme,dc=com
    changetype: add
    objectclass: organizationalUnit
    ou: Groups

    dn: ou=People,dc=acme,dc=com
    changetype: add
    objectclass: organizationalUnit
    ou: People

    dn: uid=acmeadmin,ou=People,dc=acme,dc=com
    changetype: add
    objectclass: inetOrgPerson
    objectclass: organizationalPerson
    objectclass: person
    objectclass: top
    uid: acmeadmin
    displayname: acmeadmin
    sn: acmeadmin
    cn: acmeadmin
    mail: acmeadmin@acme.com
    userpassword: password

    dn: cn=acmeadmin,ou=Groups,dc=acme,dc=com
    changetype: add
    cn: acmeadmin
    objectclass: groupOfUniqueNames
    objectclass: top
    owner: cn=admin,dc=acme,dc=com
    uniquemember: uid=acmeadmin,ou=People,dc=acme,dc=com

---
# Source: openldap/templates/openldap.yaml
apiVersion: v1
kind: Service
metadata:
  labels:
    app: openldap
  name: openldap
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
spec:
  ports:
    - port: 389
      targetPort: 389
  selector:
    app: openldap
---
# Source: openldap/templates/phpldapadmin.yaml
apiVersion: v1
kind: Service
metadata:
  name: openldap-admin
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: openldap-admin
---
# Source: openldap/templates/openldap.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openldap
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
  labels:
    app: openldap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openldap
  template:
    metadata:
      labels:
        app: openldap
    spec:
      initContainers:
        - name: init-copy
          image: busybox
          command: ['sh','-c','cp /config-map/* /config-storage; ls -lrt /config-storage']
          volumeMounts:
          - name: openldap-seedusers
            mountPath: /config-map
          - name: config-storage
            mountPath: /config-storage
      containers:
        - name: openldap
          image: osixia/openldap:1.5.0
          args: ["--loglevel", "debug"]
          volumeMounts:
            - name: config-storage
              mountPath: /container/service/slapd/assets/config/bootstrap/ldif/custom
            - name: ldap-certs
              mountPath: /container/service/slapd/assets/certs
            - mountPath: /var/lib/ldap
              name: ldap-store
            - mountPath: /etc/ldap/slapd.d
              name: ldap-slapd
          ports:
            - containerPort: 389
            - containerPort: 636
          env:
            - name: LDAP_LOG_LEVEL
              value: "256"
            - name: LDAP_ORGANISATION
              value: "{{ ldap_installconfig_json.ldap_organization}}"
            - name: LDAP_DOMAIN
              value: "{{ ldap_installconfig_json.ldap_domain }}"
            - name: LDAP_ADMIN_PASSWORD
              value: "{{ ldap_installconfig_json.ldap_admin_password }}"
            - name: LDAP_REMOVE_CONFIG_AFTER_SETUP
              value: "false"
      volumes:
        - name: config-storage
          emptyDir: {}
        - name: ldap-certs
          emptyDir: {}
        - name: openldap-seedusers
          configMap:
            name: openldap-seedusers
        - persistentVolumeClaim:
            claimName: openldap-pvc
          name: ldap-store
        - persistentVolumeClaim:
            claimName: openldap-slapd-pvc
          name: ldap-slapd
---
# Source: openldap/templates/phpldapadmin.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openldap-admin
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openldap-admin
  template:
    metadata:
      labels:
        app: openldap-admin
    spec:
      containers:
      - name: openldap-admin
        image: docker.io/osixia/phpldapadmin:0.7.0
        ports:
          - containerPort: 80
        env:
        - name: PHPLDAPADMIN_HTTPS
          value: "false"
        - name: PHPLDAPADMIN_LDAP_HOSTS
          value: "openldap"
---
# Source: openldap/templates/openldap.yaml
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: openldap
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
  labels:
    app: openldap
spec:
  to:
    kind: Service
    name: openldap
    weight: 100
  wildcardPolicy: None
---
# Source: openldap/templates/phpldapadmin.yaml
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: openldap-admin
  namespace: {{ ldap_installconfig_json.ldap_namespace }}
spec:
  to:
    kind: Service
    name: openldap-admin
    weight: 100
  wildcardPolicy: None
